*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --main-blue: #1E213F;
    --second-blue: #161932;
    --blue-green: #70f3f8;
    --white-blue: #D7E0FF;
    --custom-grey: #6c6e86;
    --main-white: #fff;
    --second-white: #EFF1FA;
    --accent-color: #F87070;
    --main-purple: #D881F8;
    --font-set1: 'Kumbh Sans', Poppins, Monserat, 'Open Sans', Roboto, sans-serif;
    --font-set2: 'Roboto Slab', Lora, Merriweather, 'PT Serif', Arvo, 'Playfair Display', 'Noto serif';
    --font-set3: "Space Mono", "IBM Plex Mono", "Fira Mono", "Anonymous Pro", monospace;
}

body{
    background-color: var(--main-blue);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    user-select: none;
}

/*Header*/
.header-section{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Main*/
.main-section{
    width: 100%;
    height: 100%;
}
/*Durations*/
.durations-div {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.durations-pill {
    width: 380px;
    height: 62px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background-color: var(--second-blue);
}
.pill {
    height: 52px;
    width: 120px;
    border-radius: 26px;
    text-align: center;
}  
input[type="radio"] {
    display: none;
}
span{
    user-select: none;
} 
input[type="radio"] + span {
    display: block;
    height: 100%;
    width: 100%;
    padding: 15px;
    color: var(--custom-grey);
    font-family: var(--font-set1);
    font-weight: 700;
}
input[type="radio"]:checked + span {
    background-color: var(--accent-color);
    color: var(--second-blue) !important;
    border-radius: 26px;
} 
input[type="radio"] + span:hover {
    cursor: pointer;
    color: var(--white-blue);
    transform-origin: 0%;
    animation: move 0.2s ease-out 1;
    transform: translateY(-3px);
}   
input[type="radio"]:checked + span:hover {
    background-color: var(--accent-color);
    cursor: default;
}
button{
    border: none;
    outline: none;
    background: none;
}
button:hover{
    cursor: pointer;
}

/*Timer*/
.timer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.timer-container, .timer-circle{
    width: 450px;
    height: 450px;
}
.timer-text{
    fill: var(--second-white);
}
.progress-ring{
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}
.btn-txt{
    letter-spacing: 0.8rem;
}
.btn-txt:hover{
    cursor: pointer;
    transform-origin: 50% 50%;
    fill: #B1CDEC;
}

/*Settings*/
.settings{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.settings-btn:hover{
    transform-origin: 50%;
    animation: enlarge 0.2s ease-out;
    transform: scale(1.08);
}

/*Animations*/

@keyframes move{
    0%{
      transform: translateY(0px);
    }
    50%{
      transform: translateY(-1px);
    }
    100%{
      transform: translateY(-3px);
    }
}
@keyframes enlarge {
    0% {
      transform: scale(1);
    }
    50%{
        transform: scale(1.04);
    }
    100% {
      transform: scale(1.08);
    }
}

/*SCROLLBAR*/
/* Set scrollbar width and track color */
::-webkit-scrollbar {
    width: 10px;
    background-color: var(--main-blue);
  }
  
  /* Set thumb color */
  ::-webkit-scrollbar-thumb {
    background-color: var(--white-blue);
    border-radius: 10px;
  }
  