*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --main-blue: #1E213F;
    --second-blue: #161932;
    --blue-green: #70f3f8;
    --white-blue: #D7E0FF;
    --custom-grey: #6c6e86;
    --main-white: #fff;
    --second-white: #EFF1FA;
    --accent-color: #F87070;
    --main-red : #F87070;
    --main-purple: #D881F8;
    --font-set1: 'Kumbh Sans', Poppins, Monserat, 'Open Sans', Roboto, sans-serif;
    --font-set2: 'Roboto Slab', Lora, Merriweather, 'PT Serif', Arvo, 'Playfair Display', 'Noto serif';
    --font-set3: "Space Mono", "IBM Plex Mono", "Fira Mono", "Anonymous Pro", monospace;
}

body{
    background-color: var(--main-blue);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    user-select: none;
    margin: 0;
    border: none;
    padding: 0;
}

/*
                    HEADER
                                                            */
.header-section{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
                    MAIN
                                                            */
.main-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Durations*/
.durations-div {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-set1);
}
.durations-pill {
    width: 380px;
    height: 62px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background-color: var(--second-blue);
}
.pill {
    height: 52px;
    width: 120px;
    border-radius: 26px;
    text-align: center;
}  
input[type="radio"] {
    display: none;
}
.break-mode-btn-span {
    display: block;
    height: 100%;
    width: 100%;
    padding: 15px;
    color: var(--custom-grey);
    font-weight: 700;
}
.break-mode-btn:checked + .break-mode-btn-span {
    background-color: var(--accent-color);
    color: var(--second-blue) !important;
    border-radius: 26px;
} 
.break-mode-btn + .break-mode-btn-span:hover {
    cursor: pointer;
    color: var(--white-blue);
    transform-origin: 0%;
    animation: move 0.2s ease-out 1;
    transform: translateY(-3px);
}   
.break-mode-btn:checked + .break-mode-btn-span:hover {
    background-color: var(--accent-color);
    cursor: default;
}
.settings-btn{
    border: none;
    outline: none;
    background: none;
}
.settings-btn:hover{
    cursor: pointer;
}

/*
                    TIMER
                                                            */
.timer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.timer-container, .timer-circle{
    width: 480px;
    height: 480px;
}
.timer-text{
    fill: var(--second-white);
    font-family: var(--font-set1);
}
.progress-ring{
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--accent-color);
}
.btn-txt{
    letter-spacing: 0.8rem;
    font-family: var(--font-set1);
}
.btn-txt:hover{
    cursor: pointer;
    transform-origin: 50% 50%;
    fill: #B1CDEC;
}

/*
                    SETTINGS
                                                            */
.settings-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.settings-container{
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.settings-btn:hover{
    transform-origin: 50%;
    animation: enlarge 0.2s ease-out;
    transform: scale(1.08);
}
.hidden{
    display: none !important;
}
h2{
    font-family: var(--font-set1) !important;
}
#settingsMenu{
    background-color: var(--main-white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 72%;
    position: absolute;
    top: 21vh;
    border-radius: 22px;
}
#menu-contents{
    width: 85%;
    height: 100%;
}
.divider{
    border-bottom: 1px solid var(--white-blue);
}
.wide{
    width: 100%;
    position: absolute;
    right: 0%;
}
fieldset{
    margin: 0;
    border: none;
    padding: 0;
}
.settings-head, .font-settings, .color-settings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20%;
}
.settings-head-txt{
    color: var(--main-blue);
    font-size: 1.8rem;
}
.close-div:hover > svg > .close-btn-fill{
    opacity: 1;
}
.close-div:hover{
    cursor: pointer;
}
/*Time settings*/
.time-settings{
    height: 28%;
}
h3{
    font-family: var(--font-set1);
    color: var(--main-blue);
    font-size: 0.85rem;
    letter-spacing: 0.3rem;
    margin-top: 25px;
}
input{
    display: block;
    width: 90%;
    height: 45px;
    background-color: buttonface;
    color: var(--main-blue);
    border: none;
    border-radius: 10px;
    padding: 10%;
    font-family: var(--font-set1);
    font-weight: 700;
}
p{
    font-family: var(--font-set1);
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--main-blue);
    opacity: 0.4;
    margin: 0;
    margin-bottom: 5px;
    border: none;
    padding: 0;
}
.time-setter{
    width: 100%;
    height: 80%;
    position: relative;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
label[for="pomodoro-setter"]{
    width: 33%;
    left: 0%;
    position: absolute;
}
label[for="shortbreak-setter"]{
    width: 33%;
    position: absolute;
    left: 35%;
}
label[for="longbreak-setter"]{
    width: 33%;
    position: absolute;
    left: 70%;
}
.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
  appearance: none;
}
.increase-up, .decrease-down{
    border: none;
    outline: none;
    position: absolute;
}
button:hover > svg > .increament-button-fill{
    stroke-opacity: 1;
}
.increase-up{
    top: 38%;
    right: 15%;
}
.decrease-down{
    top: 62%;
    right: 15%;
}
.increase-up:hover, .decrease-down:hover{
    cursor: pointer;
}
/*Font settings*/
.font-setter{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.kumbh-sans{
    font-family: var(--font-set1);
    font-weight: 700;
}
.roboto-slab{
    font-family: var(--font-set2);
}
.space-mono{
    font-family: var(--font-set3);
    font-weight: 700;
}
.kumbh-sans, .roboto-slab, .space-mono{
    height: 42px;
    width: 42px;
    border-radius: 21px;
    display: block;
    text-align: center;
    padding-top: 20%;
}
.txt{
    color: var(--main-blue);
    border: 3px solid buttonface;
}
.set-font{
    height: 44px;
    width: 44px;
    border-radius: 22px;
    background-color: buttonface;
    display: flex;
    align-items: center;
}
.sample-text{
    padding-left: 1px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.sample-text-radio:checked + .txt{
    color: buttonface;
    background-color: var(--main-blue);
    border-color: var(--main-blue) !important;
}
.sample-text-radio:hover + .txt{
    border-color: var(--main-white);
}
/*Color settings*/
.color-setter{
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.set-color{
    height: 44px;
    width: 44px;
    border-radius: 22px;
    display: flex;
    align-items: center;
}
.red{
    background-color: var(--main-red);
}
.blue{
    background-color: var(--blue-green);
}
.purple{
    background-color: var(--main-purple);
}
.checkmark {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
}
.checkmark-icon {
    width: 30px;
    height: 30px;
    padding-top: 10%;
    fill: var(--main-blue);
    stroke-linecap: butt;
    stroke-linejoin: round;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }  
  .sample-color input:checked + .checkmark .checkmark-icon {
    opacity: 1;
  }
  .sample-color:hover{
    cursor: pointer;
  }
  /*Apply button*/
.apply{
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.apply-button{
    height: 54px;
    width: 140px;
    border-radius: 27px;
    color: var(--main-white);
    background-color: var(--main-red);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
}
h4{
    font-size: 1rem;
    font-family: var(--font-set1);
    font-weight: 700;
}
.apply-button:hover, .apply-button:active{
    cursor: pointer;
    filter: brightness(1.2);
}

/*Animations*/

@keyframes move{
    0%{
      transform: translateY(0px);
    }
    50%{
      transform: translateY(-1px);
    }
    100%{
      transform: translateY(-3px);
    }
}
@keyframes enlarge {
    0% {
      transform: scale(1);
    }
    50%{
        transform: scale(1.04);
    }
    100% {
      transform: scale(1.08);
    }
}

/*In media queries, set label[for="pomodoro-setter"], label[for="shortbreak-setter"] and
label[for="longbreak-setter"] positions to relative and .time-setter display to flex  */

/*
                    MEDIA QUERIES
                                                            */
    /*tablet*/
@media (max-width: 850px) and (min-width: 539px){
    #settingsMenu{
        width: 70%;
        height: 45%;
        position: absolute;
    }
}
    /*nest hub*/
@media (max-width: 1025px) and (min-width: 912px){
    #settingsMenu{
        width: 50%;
        height: 75%;
        top: 20vh;
    }
}
@media (max-width: 1280px){
    .apply{
        padding-top: 2%;
    }
}
    /*laptop with hidpi screen*/
@media (max-width: 1441px) and (min-width: 1439px){
    #settingsMenu{
        width: 45%;
        height: 55%;
    }
}
    /*mobile*/
@media (max-width: 538px) and (min-width: 339px){
    .durations-pill {
        width: 90% !important;
    }
    .header-section{
        height: 12vh;
    }
    .durations-div{
        height: 11vh;
    }
}
    /*SE*/
@media (max-width: 375px) and (min-width: 340px){
    .settings-head{
        height: 11% !important;
    }
    h3{
        font-size: 0.7rem !important;
        margin-top: 5% !important;
        margin-bottom: 0% !important;
    }
    p{
        font-size: 0.8rem !important;
    }
    .header-section{
        height: 13vh;
    }
    .durations-div{
        height: 13vh;
    }
    .durations-pill {
        width: 90%;
        height: 60px;
        border-radius: 30px;
    }
    .time-setter{
        padding-top: 0 !important;
    }
    .timer, .timer-container, .timer-circle{
        width: 360px !important;
        height: 360px !important;
    }
    .pill {
        height: 46px;
        width: 30%;
        border-radius: 23px;
    } 
    input[type="radio"] + span {
        font-size: 0.65rem !important;
    }
    .btn-txt{
        font-size: 14px;
    }
}
    /*Galaxy s8*/
@media (max-width: 360px) and (min-width: 350px){
    input[type="radio"] + span {
        font-size: 0.6rem !important;
    }
}
/*foldable*/
@media (max-width: 300px) and (min-width: 200px){
    .settings-head{
        height: 11% !important;
    }
    h3{
        font-size: 0.7rem !important;
        margin-top: 5% !important;
        margin-bottom: 0% !important;
    }
    p{
        font-size: 0.8rem !important;
    }
    .header-section{
        height: 13vh;
    }
    .durations-div{
        height: 15vh;
    }
    .durations-pill {
        width: 90% !important;
        height: 45px;
        border-radius: 22.5px;
    }
    .timer, .timer-container, .timer-circle{
        width: 260px !important;
        height: 260px !important;
    }
    .pill {
        height: 36px;
        width: 30%;
        border-radius: 18px;
    } 
    .break-mode-btn-span {
        font-size: 0.52rem;
    }
    .time-setter{
        padding-top: 0 !important;
    }
    .timer-text{
        font-size: 50px !important;
    }
    .btn-txt{
        font-size: 10px;
    }
    .font-setter, .color-setter{
        width: 75% !important;
    }
    .apply-button{
        height: 48px;
        width: 120px;
        border-radius: 24px;
    }
    .apply{
        padding-top: 20% !important;
    }
    input[type="radio"] + span {
        font-size: 0.42rem !important;
    }
}
/*mobile to foldable*/
@media (max-width: 541px) and (min-width: 200px){
    .time-setter{
        width: 100%;
        height: 100%;
        padding-top: 10%;
        position: relative;
        border: none;
        display: block;
    }
    .timer, .timer-container, .timer-circle{
        width: 385px;
        height: 385px;
    }
    .timer-text{
        font-size: 65px !important;
    }
    #settingsMenu{
        width: 90%;
        height: 85%;
        top: 6vh;
        position: absolute;
    }
    .settings-head{
        height: 12%;
    }
    h3{
        font-size: 0.9rem;
        margin-top: 5%;
        margin-bottom: 0%;
    }
    p{
        font-size: 1rem;
    }
    .time-settings{
        height: 38%;
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .settings-head-txt{
        font-size: 1.3rem;
    }
    label[for="pomodoro-setter"], label[for="shortbreak-setter"], label[for="longbreak-setter"]{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        left: 0%;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 100%;
    }
    input[type="radio"] + span {
        font-size: 0.7rem;
    }
    fieldset{
        padding: 0;
    }
    .increase-up{
        top: 10%;
        right: 7%;
    }
    .decrease-down{
        top: 50%;
        right: 7%;
    }
    .fifty{
        width: 50%;
    }
    .font-settings, .color-settings{
        flex-direction: column;
    }
    .font-setter, .color-setter{
        width: 55%;
    }
    .font-settings > h3, .color-settings > h3{
        margin-top: 10%;
    }
    .apply{
        padding-top: 17%;
    }
}
/*Surface duo*/
@media (max-width: 540px) and (min-width: 539px){
    .durations-pill{
        width: 70%;
    }
    .time-settings{
        height: 42%;
    }
    .time-setter{
        padding-top: 0 !important;
    }
    .time-settings > h3{
        padding-top: 5%;
    }
    .font-settings > h3, .color-settings > h3{
        margin-top: 5% !important;
    }
    .apply{
        padding-top: 1px !important;
    }
}

/*
                    SCROLLBAR
                                                            */
    /* Set scrollbar width and track color */
::-webkit-scrollbar {
    width: 10px;
    background-color: var(--main-blue);
  }
  
  /* Set thumb color */
  ::-webkit-scrollbar-thumb {
    background-color: var(--white-blue);
    border-radius: 10px;
  }
  